@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
  margin: 0;
  padding: 0;
}

body {
  background-color: #141414;
}

.App {
  background-color: #141414;
  background-position: center;
  background-size: cover;
}

.nav {
  display: flex;
  justify-content: space-between;
  background-color: #2E51A2;
  color: white;
  padding: 15px;
  font-size: 2em;
  border: solid #3B5998;
  border-top: none;
}

.links{
  display: flex;
}

.title{
  font-family: 'Protest Revolution', sans-serif;
}
  
.nav a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.anchor {
  text-decoration: none;
  color: white;
}

.anchor:hover {
  color: #2E51A2;
}

.header {
  width: 100%;
  height: 80px;
  background-color: #41403d;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  z-index: 1;
}

.header .search-box input {
  border-radius: 5px;
  outline: none;
  background-color: white;
  width: 350px;
  height: 30px;
  font-size: 1.2rem;
  padding: 0 1rem;
}

.container {
  display: flex;
  margin-left: 20px;
} 

 .root {
  background-size: cover;
  background-position: center;
  min-width: 100%;
  min-height: 100vh;
  z-index: 9999;
}

.header h1,
.text-heading {
  color: white;
}

.character-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-left: 20px;
  margin-right: 20px;
}

.anime_container {
  width: 100%;
  margin: 100px auto;
  display: flex;
}

.anime_info{
  width: 100%;
  height: 100%;
}

.anime_row {
  color: white;
}

.anime_row hr {
  margin-bottom: 10px;
}

.scroller {
  display: flex;
  overflow-x: auto;
  scrollbar-color: transparent transparent;
  user-select: none;
  width: 100%;
  gap: 20px;
}

.scroller::-webkit-scrollbar {
  height: 1px;
  background-color: transparent;
}

.anime-card {
  position: relative;
  height: 100%;
  padding: 0 0 1rem 0;
  text-align: center;
  border: solid white;
}

.anime-info h4 {
  display: flex;
  justify-content: center;
}

.anime-content {
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.anime-content .titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.anime-content .title-break {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 10px;
  margin-right: 10px;
}

.anime-content .content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.anime-content .poster-container {
  margin-left: 1rem;
}

.anime-content .content .filler {
  /* border: solid white; */
  width: 25%;
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}

.anime-content .content .filler h1 {
  text-align: center;
}

.anime-content .content .info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: groove darkgrey;
  background-color: #1B1C1C;
  width: 20%;
  border-radius: 5px;
  margin-right: 1rem;
}

.anime-content .content .info {
  display: flex;
  justify-content: space-around;
}

.anime-content .content .info .date{
  margin-left: 5px;
}

.hidden-content {
  display: flex;
}

.hidden-text,
.hidden-break {
  opacity: 0;
}

.anime-content .content .info .popularity {
  display: flex;
  position: relative;
  margin-left: 5px;
}

.anime-content .content .info .popularity:hover .hidden-text,
.anime-content .content .info .popularity:hover .hidden-break {
  opacity: 1;
}

.anime-content .content .info .popularity .hidden-content .hidden-text{
  align-self: center;
}
.anime-content .content .info .popularity .hidden-content .hidden-break{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.anime-content .content .info .popularity img {
  height: 60px;
  width: auto;
  filter: brightness(0) saturate(100%) invert(88%) sepia(84%) saturate(2156%) hue-rotate(324deg) brightness(105%) contrast(101%);
}

.anime-content .content .info .popularity .popularity-text {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
  text-shadow: 1px 1px 2px black;
}

.anime-content .content .info .favorites {
  display: flex;
  position: relative;
  margin-left: 5px;
}

.anime-content .content .info .favorites:hover .hidden-text,
.anime-content .content .info .favorites:hover .hidden-break {
  opacity: 1;
}

.anime-content .content .info .favorites .hidden-content .hidden-text{
  align-self: center;
}
.anime-content .content .info .favorites .hidden-content .hidden-break{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.anime-content .content .info .favorites img {
  height: 60px;
  width: auto;
  filter: brightness(0) saturate(100%) invert(35%) sepia(38%) saturate(1018%) hue-rotate(176deg) brightness(93%) contrast(107%);
}

.anime-content .content .info .favorites .favorites-text {
  position: absolute;
  top: 60%;
  left: 11%;
  transform: translate(-50%, -50%);
  text-shadow: 1px 1px 2px black;
}



.anime-content .content .info .episode {
  display: flex;
  position: relative;
  margin-left: 5px;
}

.anime-content .content .info .episode:hover .hidden-text,
.anime-content .content .info .episode:hover .hidden-break {
  opacity: 1;
}

.anime-content .content .info .episode .hidden-content .hidden-text{
  align-self: center;
}
.anime-content .content .info .episode .hidden-content .hidden-break{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.anime-content .content .info .episode img {
  height: 60px;
  width: auto;
  filter: brightness(0) saturate(100%) invert(24%) sepia(76%) saturate(2444%) hue-rotate(353deg) brightness(88%) contrast(82%);
}

.anime-content .content .info .episode .episode-text {
  position: absolute;
  top: 70%;
  left: 10%;
  transform: translate(-50%, -50%);
  text-shadow: 1px 1px 2px black;
}

.anime-content .content .info .ratings .ratings-hover:hover .hidden-text,
.anime-content .content .info .ratings .ratings-hover:hover .hidden-break{
  opacity: 1;
}

.anime-content .content .info .ratings .ratings-hover .hidden-text {
  text-align: center;
}

.anime-content .content .info .ratings .ratings-hover .hidden-break {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 5px;
  margin-bottom: 5px;
}

.anime-content .content .info .ratings .ratings-hover .rating-bar {
  transform: translateX(-4%);
}

.overlay {
  position: absolute;
  bottom: 38px;
  height: 0;
  padding: 1rem;
  color: white;
  background-color: rgba(59, 89, 152, 0.9);
  border-radius: 10rem  0 0 0;
  text-align: justify;
  opacity: 0;
  transition: 0.5s;
}

.anime-info:hover .overlay {
  opacity: 1;
  height: 88%;
}

.overlay .synopsis {
  width: 80%;
  height: 80%;
  margin: 0 auto;
  padding: 1rem;
  overflow: auto;
}

.overlay .synopsis h3 {
  display: flex;
  justify-content: center;
}