@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');

*{
  margin: 0;
  padding: 0;
}

body {
  background-color: #141414;
}

.App {
  background-color: #141414;
  background-position: center;
  background-size: cover;
}

.nav {
  display: flex;
  justify-content: space-between;
  background-color: #2E51A2;
  color: white;
  padding: 15px;
  font-size: 2em;
  border: solid #3B5998;
  border-top: none;
}

.links{
  display: flex;
}

.title{
  font-family: 'Protest Revolution', sans-serif;
}
  
.nav a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.anchor {
  text-decoration: none;
  color: white;
}

.anchor:hover {
  color: #2E51A2;
}

.header {
  width: 100%;
  height: 80px;
  background-color: #41403d;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  z-index: 1;
}

.header .search-box input {
  border-radius: 5px;
  outline: none;
  background-color: white;
  width: 350px;
  height: 30px;
  font-size: 1.2rem;
  padding: 0 1rem;
}

.container {
  display: flex;
  margin-left: 20px;
} 

 .root {
  background-size: cover;
  background-position: center;
  min-width: 100%;
  min-height: 100vh;
  z-index: 9999;
}

.header h1,
.text-heading {
  color: white;
}

.character-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-left: 20px;
  margin-right: 20px;
}

.anime_container {
  width: 100%;
  margin: 100px auto;
  display: flex;
}

.anime_info{
  width: 100%;
  height: 100%;
}

.anime_row {
  color: white;
}

.anime_row hr {
  margin-bottom: 10px;
}

.scroller {
  display: flex;
  overflow-x: auto;
  scrollbar-color: white #141414;
  user-select: none;
  width: 100%;
  gap: 20px;
}

.scroller::-webkit-scrollbar {
  height: 1px;
  background-color: transparent;
}

.anime-card {
  position: relative;
  height: 100%;
  padding: 0 0 1rem 0;
  text-align: center;
  border: solid white;
}

.anime-info h4 {
  display: flex;
  justify-content: center;
}

.anime-content {
  color: white;
}

.overlay {
  position: absolute;
  bottom: 38px;
  height: 0;
  padding: 1rem;
  color: white;
  background-color: rgba(59, 89, 152, 0.9);
  border-radius: 10rem  0 0 0;
  text-align: justify;
  opacity: 0;
  transition: 0.5s;
}

.anime-info:hover .overlay {
  opacity: 1;
  height: 88%;
}

.overlay .synopsis {
  width: 80%;
  height: 80%;
  margin: 0 auto;
  padding: 1rem;
  overflow: auto;
}

.overlay .synopsis h3 {
  display: flex;
  justify-content: center;
}